* {
    box-sizing: border-box;
}
body {
    background-color: #e5e5e5;
}

/*  =====   HEADERS/PARAGRAPHS  ===== */
h1 {
    font-family: 'Righteous', cursive;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
}

/*  =====   HEADERS/PARAGRAPHS  ===== */



/*  =====   TOP-RIBBON  ===== */
.top-ribbon {
    width: 414px;
    height: 92px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cf2b2b;
    font-weight: 400;
    color: #ffffff;
    z-index: 30;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.top-ribbon h1 {
    font-size: 44px;
    margin: 12px auto 5px 21px;
}
.top-ribbon h2 {
    margin: 0 auto 18px 21px;
    font-size: 18px;
}
/*  =====   TOP-RIBBON  ===== */

.main-container {
    width: 414px;
    margin: 123px auto 108px 0;
    display: flex;
    flex-direction: column;
    border: 2px dashed blue;
}
.main-container h1 {
    margin: 0 auto 17px 0;
    font-size: 26px;
}

/*  =====   DISHES  ===== */
.dishes {
    height: 260px;
    margin: 0 0 27px 19px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.horiz-list {
    width: calc(100% - 19px);
    height: 216px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    border: 2px dashed orange; 
}

.food-card {
    width: 172px;
    height: 100%;
    margin-right: 16px;
    background-color: #ffffff;
    border: 2px solid cornflowerblue;
}
.food-card img {
    width: 144px;
    height: 87px;
    margin: 18px 14px 8px 14px;
}

.food-card h2, h3 {
    margin: 8px auto 4px 15px;
}
/*  =====   DISHES  ===== */

/*  =====   BEVERAGES  ===== */
.beverages {
    height: 260px;
    margin: 0 0 27px 19px;
    display: flex;
    flex-direction: column;
    border: 2px solid crimson;
}
/*  =====   BEVERAGES  ===== */

/*  =====   DESSERTS  ===== */
.desserts {
    height: 260px;
    margin: 0 0 27px 19px;
    display: flex;
    flex-direction: column;
    border: 2px solid maroon;
}
/*  =====   DESSERTS  ===== */


/*  =====   BOTTOM-RIBBON  ===== */
.bottom-ribbon {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 414px;
    height: 92px;
    background-color: #ffffff;
    color: orange;
    z-index: 30;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.place-order {
    width: 364px;
    height: 61px;
    margin: 16px auto;
    border-radius: 50px;
    background-color: #cbcbcb;
    text-align: center;
}
.place-order h3 {
    color: #ffffff;
    font-size: 20px;
}
/*  =====   BOTTOM-RIBBON  ===== */
